<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pancakeswap Predictions</title>

    <!-- JQuery -->
    <script type="text/javascript" src="/jQuery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <script src="/bootstrap.min.js"></script>

    <!-- FontAwesome Icons -->
    <script src="/fontawesome.kit.js"></script>

    <script src="/scripts/core/alert.js"></script>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body></body>
</html>

<div id="fullPage" style="text-align: center">
  <div style="width: 49%; display: inline-block">
    <h1>All time</h1>
    <h1>Average payout: <%= averages.avgPayout %></h1>
    <h1>Average pool: <%= averages.avgPool %></h1>
    <h1>Average diff: <%= averages.avgDiff %></h1>
    <h1>Number of rounds: <%= averages.nbEntries %></h1>
    <br />
    <h1>
      Safe average payout: <%= averages.avgSafe %> - <%= averages.safePercentWr
      %>%
    </h1>
    <h1>
      Risky average payout: <%= averages.avgRisky %> - <%=
      averages.riskyPercentWr %>%
    </h1>
    <br />
    <h2>Number of down round: <%= averages.nbRoundDOWN %></h2>
    <h2>Number of up round: <%= averages.nbRoundUP %></h2>
  </div>

  <div style="width: 49%; display: inline-block">
    <h1>Last 4 hours</h1>
    <h1>Average payout: <%= rangedAverages.avgPayout %></h1>
    <h1>Average pool: <%= rangedAverages.avgPool %></h1>
    <h1>Average diff: <%= rangedAverages.avgDiff %></h1>
    <h1>Number of rounds: <%= rangedAverages.nbEntries %></h1>
    <br />
    <h1>
      Safe average payout: <%= rangedAverages.avgSafe %> - <%=
      rangedAverages.safePercentWr %>%
    </h1>
    <h1>
      Risky average payout: <%= rangedAverages.avgRisky %> - <%=
      rangedAverages.riskyPercentWr %>%
    </h1>
    <br />
    <h2>Number of down round: <%= rangedAverages.nbRoundDOWN %></h2>
    <h2>Number of up round: <%= rangedAverages.nbRoundUP %></h2>
  </div>
</div>
