<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pancakeswap Predictions - Oracle</title>

    <!-- JQuery -->
    <script type="text/javascript" src="/jQuery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <script src="/bootstrap.min.js"></script>

    <!-- FontAwesome Icons -->
    <script src="/fontawesome.kit.js"></script>

    <script src="/scripts/core/alert.js"></script>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body></body>
</html>

<div id="fullPage" style="text-align: center">
  <div style="width: 49%; display: inline-block">
    <h1>Current round oracle <%= roundOracle[0].roundId %></h1>
    <% roundOracle.forEach(item => { %>
    <h3><i>oracle price</i> => <%= item.oraclePrice %></h3>
    <h3><i>BNB price</i> => <%= item.BNBPrice %></h3>
    <h3><i>BTC price</i> => <%= item.BTCPrice %></h3>
    <h3><i>time left</i> => <%= item.timeLeft %></h3>
    <h3>
      <i>seconds since candle opened</i> => <%= item.secondsSinceCandleOpen %>
    </h3>
    <hr />
    <% }) %>
  </div>
</div>
